{% extends 'base.html' %}
{% load static %}

{% block title %}Главная - Мой Магазин{% endblock %}

{% block content %}

<div class="hero-section p-5 mb-5 rounded-3 text-center">
    <h1 class="display-3 fw-bold">Крутой магазин электроники</h1>
    <p class="lead fs-3">Лучшая техника по доступным ценам</p>
    <p class="fs-5">Более 5 товаров от ведущих производителей</p>
    <a href="{% url 'catalog:product_list' %}" class="btn btn-light btn-lg mt-3">
        <i class="bi bi-grid"></i> Перейти в каталог
    </a>
</div>

<!-- Популярные товары -->
<section class="mb-5">
    <h2 class="mb-4">
        Популярные товары
    </h2>
    <div class="row">
        {% for product in popular_products %}
        <div class="col-md-4 col-sm-6 mb-4">
            <div class="card h-100 shadow-sm">
            {% if product.image and product.image.url != '/media/products/default.jpg' %}
                <img src="{{ product.image.url }}" alt="{{ product.name }}">
            {% else %}
                <img src="{% static 'images/default.jpg' %}" alt="Нет фото" height="400">
            {% endif %}
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text fw-bold fs-5 text-primary mt-auto">{{ product.price }} руб.</p>
                    <a href="{% url 'catalog:product_detail' product.pk %}" class="btn btn-outline-primary">
                        Подробнее <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="col-12">
            <div class="alert alert-info">
                <i class="bi bi-info-circle"></i> Пока нет доступных товаров
            </div>
        </div>
        {% endfor %}
    </div>
</section>

{% endblock %}